@page "/bztabletest"

@using BzTable
@using Server.Starter.Components.BzTableTest

@inject IBzTableDataNorthwindProvider BzTableDataProvider;

<h3>BzTable component</h3>
<p>Auto generated table</p>
<hr/>

<div class="row">
    <div class="col-12">
        <BzTable
            Fields="@FieldsList"
            Config="@Config"
            DataProvider="@BzTableDataProvider">
        </BzTable>
    </div>
</div>

@code {

    private List<BzTableField>? FieldsList { get; set; }
    private BzTableConfig? Config { get; set; }

    protected override void OnInitialized()
    {
        Config = new BzTableConfig
        {
            BuildFilters = true,
            MakeSortable = true,
            TableCssClass = "table-striped",
            ItemSize = 50,
            ContainerCssClass = "table-container"
        };

        FieldsList = BzTableDataNorthwindProvider.GetFields();
    }
}