@namespace Components.BindingSamples

<h3>Bind After</h3>

<div class="row">
    <div class="col-6">
        @* <input @bind="searchText" @bind:after="PerformSearch" /> *@
        <input @bind="_inputText" @bind:event="oninput"/>
    </div>
    <div class="col-12">
        <label>@_inputText</label>
    </div> 
    <div class="col-12">
        Not Working, Issues:
        <code>https://github.com/dotnet/aspnetcore/issues/44957</code>
    </div>
</div>

@code {
    private string? _inputText;
    private string? _searchResult;
}