@namespace Components.BindingSamples

<h3>PasswordEntry</h3>
 
<div class="row">
    <div class="col-12">
        <label>
            <input @oninput="OnPasswordChanged"
                   type="password"
                   value="@password"/>
            <span class="text-danger">@validationMessage</span>
        </label>
    </div>
</div>

@code {
    private string? password;
    private string? validationMessage;

    [Parameter]
    public string? Password { get; set; }

    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }
    
    private Task OnPasswordChanged(ChangeEventArgs e)
    {
        password = e?.Value?.ToString();

        if (password != null && password.Contains(' '))
        {
            validationMessage = "Spaces not allowed!";
            return Task.CompletedTask;
        }
        
        validationMessage = string.Empty;
        return PasswordChanged.InvokeAsync(password);
    }
}